<script>
    import browser from "webextension-polyfill";

    const button = document.getElementById("newtab");
    button?.addEventListener("click", () => {
        browser.tabs.create({ url: "about:blank" });
    });
</script>

<p>Hello world!</p>
<button id="newtab">Open New Tab</butto>
